@import '../../responsive';
.intro-right-column{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    @include breakpoint(mobile){
        height: auto;
        margin-top:25%;
    }

.circle{
    width: 500px;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius:50%;
    @include breakpoint(tab){
        width:300px;
        height:300px;
    }

    .logo{
        position: absolute;
        background:url("../../../public/assets/logo.jpg");
        background-size:cover;
        border-radius: 50%;
        width:400px;
        height:400px;

        @include breakpoint(tab){
            width:200px;
            height:200px;
        }
    
    }

    .text{
        position: absolute;
        width:100%;
        height:100%;
        animation:rotateText  8s linear infinite;
 @keyframes rotateText {
     0%{
         transform: rotate(360deg);
     }
     100%{
        transform: rotate(0deg);
     }
 }
        span{
            position: absolute;
            left:50%;
            font-size:2em;
            transform-origin:0 250px ;
            font-weight:700;

            @include breakpoint(tab){
                transform-origin:0 150px ;
                font-size:1.2em;
            }
        }
        
    }
}

}

.right-column{
    height:100vh;
    display: flex;
    align-items: center;

    @include breakpoint(mobile){
        padding-left:13.5%;
        height:auto;
    }

    .right-text{
        h1{
            font-size: 80px;
            font-weight: 700;
            font-family: 'Oswald', sans-serif;
            line-height: 0.9;

            @include breakpoint(mobile){
                font-size: 30px;
            }
            
        }

        h2{
            @include breakpoint(mobile){
                font-size: 20px;
            }
        }

        p{
            font-size:17px;
            width:80%;
            text-align: justify;
            @include breakpoint(mobile){
                width:95%;
            }
        }

        a{
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            border: 2px solid #111;
            text-transform: uppercase;
            text-decoration: none;
            color: #111;
            font-weight: 600;
            font-size: 20px;

            &:before{
                content: '';
                position: absolute;
                top: 6px;
                left: -2px;
                width: calc(100% + 4px);
                height: calc(100% - 12px);
                background: #fff;
                transform: scaleY(1);
                transition: all 0.5s;
            }

            &:hover{
                &:before{
                    transform: scaleY(0);
                }
            }

            span{
                position: relative;
	            z-index: 3;
            }
        }
    }
}